.box{
text-align: center;
  height: 250px;
  width: 100%;
}

.red{
  background-color: red;
}
.blue{
  background-color: blue;
}
.yellow{
  background-color: yellow;
}
.green{
  background-color: green;
}
